extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(rel='stylesheet' href='https://doctoryurov.ru/bitrix/templates/landing24/assets/vendor/icon-awesome/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://doctoryurov.ru/bitrix/templates/landing24/assets/vendor/bootstrap/bootstrap.min.css')
  link(rel='stylesheet' href='https://dev.medall.clinic/bitrix/templates/corp_services_gray2_new/css/main.css')
  link(rel='stylesheet' href='https://doctoryurov.ru/bitrix/templates/landing24/themes/themes_core.min.css')
  link(rel='stylesheet' href='https://dev.medall.clinic/bitrix/templates/corp_services_gray2_new/css/slick.css')
  link(rel='stylesheet' href='https://doctoryurov.ru/bitrix/templates/landing24/assets/vendor/icon-line-pro/style.min.css')
  link(rel='stylesheet' href='https://doctoryurov.ru/bitrix/templates/landing24/themes/photography/photography.min.css')
  script(src="https://dev.medall.clinic/bitrix/templates/corp_services_gray2_new/js/jquery-3.2.1.min.js")
  script(src="https://dev.medall.clinic/bitrix/templates/corp_services_gray2_new/js/slick.min.js")
  script(src="https://dev.medall.clinic/bitrix/templates/corp_services_gray2_new/js/jquery.fancybox.min.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="https://dev.medall.clinic/bitrix/templates/corp_services_gray2_new/js/jquery.maskedinput.min.js")
  script(src="https://dev.medall.clinic/bitrix/templates/corp_services_gray2_new/js/main.js")
    
block content
  .breastEnlargementMainScreen
    .breastEnlargementMainScreen__slider
      .breastEnlargementMainScreen__slider__block
        .breastEnlargementMainScreen__slider__item(style='background-image: url();')
          .breastEnlargementMainScreen__slider__item__right
            .breastEnlargementMainScreen__slider__item__img(style='background-image:url(https://dev.medall.clinic/upload/iblock/54b/54b34ffe46bc52f2ebfcac996fb98acc.jpg);')
            // div class="breastEnlargementMainScreen__slider__item__img"><img src="/upload/iblock/54b/54b34ffe46bc52f2ebfcac996fb98acc.jpg"/></div
          .breastEnlargementMainScreen__slider__item__left
            .breastEnlargementMainScreen__slider__item__title.title
              h2 Лечим под микроскопом
            .breastEnlargementMainScreen__slider__item__desc
              p
                | Качественно вылечить можно только то, что ты видишь Лечим кариес с 40-кратным увеличением под микроскопом Leica
            .breastEnlargementMainScreen__slider__item__link
              a.buttonTwo(href='/', tabindex='0') Подробнее
        .block-wrapper.block-34-4-two-cols-with-text-and-icons
          section.landing-block.g-bg-primary-dark-v3.g-pt-55.g-pb-0
            .container
              // Icon Blocks
              .row.landing-block-inner
                .landing-block-node-card.col-md-6.g-mb-40.col-lg-4.g-mb-0--last.landing-card
                  // Icon Blocks
                  .media
                    .d-flex.g-mt-25.g-mr-40.g-width-64.justify-content-center
                      span.landing-block-node-card-icon-container.d-block.g-font-size-48.g-line-height-1.g-color-white-opacity-0_9
                        i.landing-block-node-card-icon.fa.fa-check-square-o(data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}')
                    .media-body.align-self-center
                      h3.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-white.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-white.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-white Особые импланты
                      .landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-light-v2.landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-light-v2.landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-light-v2
                        p
                          | Оригинальный протокол ALL-ON-4® 
                          br
                          | подразумевает использование высокотехнологичных имплантов Nobel Biocare с особой поверхностью T-Unite, которая увеличивает процент "вживляемости" искусственного корня в кость до 99%.
                  // End Icon Blocks
                .landing-block-node-card.col-md-6.g-mb-40.col-lg-4.g-mb-0--last.landing-card
                  // Icon Blocks
                  .media
                    .d-flex.g-mt-25.g-mr-40.g-width-64.justify-content-center
                      span.landing-block-node-card-icon-container.d-block.g-font-size-48.g-line-height-1.g-color-white-opacity-0_9
                        i.landing-block-node-card-icon.fa.fa-cube(data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}')
                    .media-body.align-self-center
                      h3.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-white.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-white.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-white Все включено!
                      .landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-light-v2.landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-light-v2.landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-light-v2
                        p
                          | Полная диагностика и планирование конструкции из имплантов и протеза в 3D, создание хирургического шаблона для точной установки имплантов, санация и удаление зубов(при необходимости), хорошая анестезия, установка 4-х оригинальных имплантов, изготовление и установка первичного постоянного протеза (который можно будет носить до 3-х лет). После процедуры вы будете находится в индивидуальной палате под наблюдением врача и медицинской сестры.
                          br
                  // End Icon Blocks
                .landing-block-node-card.col-md-6.g-mb-40.col-lg-4.g-mb-0--last.landing-card
                  // Icon Blocks
                  .media
                    .d-flex.g-mt-25.g-mr-40.g-width-64.justify-content-center
                      span.landing-block-node-card-icon-container.d-block.g-font-size-48.g-line-height-1.g-color-white-opacity-0_9
                        i.landing-block-node-card-icon.fa.fa-calendar-check-o(data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}')
                    .media-body.align-self-center
                      h3.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-white.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-white.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-white Пожизненная гарантия
                      .landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-light-v2.landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-light-v2.landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-light-v2
                        p
                          | Гарантия на импланты для ALL-ON-4® достигает пожизненного срока. При этом гарантия на постоянный протез варьируется от 5 до 7 лет. Сроки службы зависят от силы нагрузок и качества гигиены протеза. Однако практические исследования и отзывы пациентов, которым проводилась имплантация ALL-ON-4® доказывают, что данная конструкция может служить десятки лет вместе с протезом, и при этом не вызывает никаких неудобств, а наоборот, улучшает качество жизни!
                  // End Icon Blocks
                  // End Icon Blocks
    .breastEnlargementMainScreen__controls
      .breastEnlargementMainScreen__control.breastEnlargementMainScreen__prev
      .breastEnlargementMainScreen__control.breastEnlargementMainScreen__next
  .mainContent
    .mainContent__left
      .mainContent__wrap
        .mainContent__block
          .container.g-max-width-800.g-pa-0.text-center
            h2 Кому подходит All-on-4®?
            .landing-block-node-text.g-font-size-16.g-py-30.u-heading-v2-8--bottom.u-heading-v2-8--top.g-brd-primary
              p
                | пациентам с полной адентией (отсутствием зубов)
                br
                | пациентам с частичной адентией
                br
                | при подвижности зубов
                br
                | пациентам использующим съемный протез
                br
          section.landing-block.g-pb-0.g-bg-main.g-pt-20
            .container
              // Icon Blocks
              .row.landing-block-inner
                .landing-block-node-card.col-lg-6.g-mb-40.g-mb-0--last.landing-card
                  // Icon Blocks
                  .media
                    .d-flex.g-mt-25.g-mr-40.g-width-64.justify-content-center
                      span.landing-block-node-card-icon-container.d-block.g-font-size-48.g-line-height-1.g-color-red
                        img(src='/images/icon.png')
                    .media-body.align-self-center
                      h3.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-black УЛЫБАЮСЬ СВОБОДНО И ОТКРЫТО
                      .landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-dark-v1
                        p
                          | Восстановление широкой улыбки в день операции. Больше не надо прикрывать рот ладонью!
                          br
                  // End Icon Blocks
                .landing-block-node-card.col-lg-6.g-mb-40.g-mb-0--last.landing-card
                  // Icon Blocks
                  .media
                    .d-flex.g-mt-25.g-mr-40.g-width-64.justify-content-center
                      span.landing-block-node-card-icon-container.d-block.g-font-size-48.g-line-height-1.g-color-red
                        img(src='/images/icon.png')
                    .media-body.align-self-center
                      h3.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-black КУШАЮ В УДОВОЛЬСТВИЕ
                      .landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-dark-v1
                        p
                          | Жевать новыми зубами можно и нужно сразу после операции. Естественные нагрузки помогут быстрее привыкнуть к новым зубам
                          br
                  // End Icon Blocks
                .landing-block-node-card.col-lg-12.g-mb-40.g-mb-0--last.landing-card
                  // Icon Blocks
                  .media
                    .d-flex.g-mt-25.g-mr-40.g-width-64.justify-content-center
                      span.landing-block-node-card-icon-container.d-block.g-font-size-48.g-line-height-1.g-color-red
                        img(src='/images/icon.png')
                    .media-body.align-self-center
                      h3.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-black ПОМОЛОДЕЛ НА 10 ЛЕТ!
                      .landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-dark-v1
                        | Лечение кариеса проводится разными методами. Это зависит от степени тяжести заболевания и определяется врачем после проведения осмотра и других необходимых обследований. В MEDALL применяются следующие методы лечения кариеса:<br>- консервативная терапия без препарирования бормашиной (на ранних стадиях)<br>- лечение с препарированием твердых тканей зуба, восстановление пломбой или коронкой. Диагностика и восстановление проводится под микроскопом с 40-кратным увеличением, что позволяет максимально деликатно воздействовать на поврежденные ткани, не затрагивая при этом здоровые ткани 
                        p
                  // End Icon Blocks
                  // End Icon Blocks
        .mainContent__block
          .row
            .col-lg-4.col-md-12
              img(src='https://dev.medall.clinic/upload/iblock/96b/96bd44b51c7bac73109f553580512250.png')
            .mainContent__text.col-lg-8.col-md-12
              p(style='text-transform: uppercase;margin-bottom: 24px;'): strong Передовые технологии + Уникальный опыт специалистов
              p(style='font-size: 40px; font-weight: 900; line-height: 1.125; text-transform: uppercase; text-align: left; margin-bottom: 32px;'): strong Почему стоит выбрать MEDALL?
              .landing-block-node-card.g-mb-40.g-mb-0--last.landing-card
                // Icon Blocks
                .media
                  .d-flex.g-mt-25.g-mr-40.g-width-64.justify-content-center
                    span.landing-block-node-card-icon-container.d-block.g-font-size-48.g-line-height-1.g-color-red
                      img(src='/images/icon.png')
                  .media-body.align-self-center
                    h3.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-red КУШАЮ В УДОВОЛЬСТВИЕ
                    .landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-dark-v1
                      p
                        | Жевать новыми зубами можно и нужно сразу после операции. Естественные нагрузки помогут быстрее привыкнуть к новым зубам
                        br
                // End Icon Blocks
              .landing-block-node-card.g-mb-40.g-mb-0--last.landing-card
                // Icon Blocks
                .media
                  .d-flex.g-mt-25.g-mr-40.g-width-64.justify-content-center
                    span.landing-block-node-card-icon-container.d-block.g-font-size-48.g-line-height-1.g-color-red
                      img(src='/images/icon.png')
                  .media-body.align-self-center
                    h3.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-red КУШАЮ В УДОВОЛЬСТВИЕ
                    .landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-dark-v1
                      p
                        | Жевать новыми зубами можно и нужно сразу после операции. Естественные нагрузки помогут быстрее привыкнуть к новым зубам
                        br
                // End Icon Blocks
              .landing-block-node-card.g-mb-40.g-mb-0--last.landing-card
                // Icon Blocks
                .media
                  .d-flex.g-mt-25.g-mr-40.g-width-64.justify-content-center
                    span.landing-block-node-card-icon-container.d-block.g-font-size-48.g-line-height-1.g-color-red
                      img(src='/images/icon.png')
                  .media-body.align-self-center
                    h3.landing-block-node-card-title.h5.text-uppercase.g-font-weight-800.g-color-red КУШАЮ В УДОВОЛЬСТВИЕ
                    .landing-block-node-card-text.g-font-size-default.mb-0.g-color-gray-dark-v1
                      p
                        | Жевать новыми зубами можно и нужно сразу после операции. Естественные нагрузки помогут быстрее привыкнуть к новым зубам
                        br
                // End Icon Blocks
        .mainContent__block
          .iframe-responsive
            .iframe-responsive__iframe: iframe(src='https://www.youtube.com/embed/Zt9xtNxhX8k' frameborder='0' allowfullscreen)
        .mainContent__block
          h2 Этапы услуги
          section.landing-block.g-pt-20.g-pb-20.g-bg-primary-dark-v3
            .container
              .row.landing-block-inner
                .landing-block-card.col-lg-12.g-px-30.g-mb-10.landing-card
                  .landing-block-card-container.g-pos-rel.g-parent.g-py-35.g-px-25.g-pl-70--sm.g-pl-60.g-ml-30.g-ml-0--sm.g-bg-primary
                    .g-absolute-centered--y.g-left-0.g-absolute-top-px
                      .landing-block-node-element-icon-container.g-pull-50x-left.g-brd-around.g-brd-5.g-rounded-50x.g-overflow-hidden.g-color-white.g-bg-primary
                        span.landing-block-node-icon-hover.d-block.g-pos-abs.g-top-0.g-left-0.g-width-85.g-height-85.g-rounded-50x.opacity-0.g-opacity-1--parent-hover.g-transition-0_1.g-transition--ease-in(style='', data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}')
                        span.u-icon-v3.u-icon-size--xl.g-width-85.g-height-85.g-bg-transparent.g-opacity-1.opacity-0--parent-hover.g-transition-0_1.g-transition--ease-in
                          img(src='/images/icon.png')
                    h3.landing-block-node-title.h5.text-uppercase.g-color-gray-light-v2.g-mb-10 Этап 1. Подготовка
                    .landing-block-node-text.g-color-gray-light-v2
                      p
                        | На этапе подготовки к реализации протокола 
                        span(style='color: rgb(229, 57, 53);') All-on-4®
                        |  вам сделают общие анализы крови, а также конусно-лучевую томографию (КЛКТ), которая необходима для определения оптимальных мест для размещения имплантов в челюсти. На основе снимка КЛКТ в специальной программе NobelGuide вам составят цифровой диагностический план вашего лечения.
                        br
                .landing-block-card.col-lg-12.g-px-30.g-mb-10.landing-card
                  .landing-block-card-container.g-pos-rel.g-parent.g-py-35.g-px-25.g-pl-70--sm.g-pl-60.g-ml-30.g-ml-0--sm.g-bg-primary
                    .g-absolute-centered--y.g-left-0.g-absolute-top-px
                      .landing-block-node-element-icon-container.g-pull-50x-left.g-brd-around.g-brd-5.g-rounded-50x.g-overflow-hidden.g-color-white.g-bg-primary
                        span.landing-block-node-icon-hover.d-block.g-pos-abs.g-top-0.g-left-0.g-width-85.g-height-85.g-rounded-50x.opacity-0.g-opacity-1--parent-hover.g-transition-0_1.g-transition--ease-in(style='', data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}')
                        span.u-icon-v3.u-icon-size--xl.g-width-85.g-height-85.g-bg-transparent.g-opacity-1.opacity-0--parent-hover.g-transition-0_1.g-transition--ease-in
                          img(src='/images/icon.png')
                    h3.landing-block-node-title.h5.text-uppercase.g-color-gray-light-v2.g-mb-10 Этап 2. Хирургический этап
                    .landing-block-node-text.g-color-gray-light-v2
                      p
                        | Установка имплантатов проводится при использовании специального хирургического шаблона. Этот шаблон позволит хирургу-имплантологу установить имплантаты в челюсть в заранее спланированное место, под абсолютно правильным углом и на заранее определенную глубину с точностью до долей миллиметра.
                        br
                        | Во время операции вам устанавливают в челюсть 4 имплантата. Если на момент операции в челюсти находятся зубы, подлежащие удалению, то их (непосредственно перед имплантацией) удалят. Далее вы отдыхаете после операции в индивидуальной палате под наблюдением медицинской сестры и врача-анестезиолога, а в это время зубной техник в зуботехнической лаборатории изготавливает вам временный несъемный протез (состоящий из 10-12 искусственных зубов).
                        br
                .landing-block-card.col-lg-12.g-px-30.g-mb-10.landing-card
                  .landing-block-card-container.g-pos-rel.g-parent.g-py-35.g-px-25.g-pl-70--sm.g-pl-60.g-ml-30.g-ml-0--sm.g-bg-primary
                    .g-absolute-centered--y.g-left-0.g-absolute-top-px
                      .landing-block-node-element-icon-container.g-pull-50x-left.g-brd-around.g-brd-5.g-rounded-50x.g-overflow-hidden.g-color-white.g-bg-primary
                        span.landing-block-node-icon-hover.d-block.g-pos-abs.g-top-0.g-left-0.g-width-85.g-height-85.g-rounded-50x.opacity-0.g-opacity-1--parent-hover.g-transition-0_1.g-transition--ease-in(style='', data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}')
                        span.u-icon-v3.u-icon-size--xl.g-width-85.g-height-85.g-bg-transparent.g-opacity-1.opacity-0--parent-hover.g-transition-0_1.g-transition--ease-in
                          img(src='/images/icon.png')
                    h3.landing-block-node-title.h5.text-uppercase.g-color-gray-light-v2.g-mb-10 Этап 3. фиксация временного протеза
                    .landing-block-node-text.g-color-gray-light-v2
                      p
                        | Через 3-5 часов после операции на ваших имплантатах врач зафиксирует временный несъемный протез из высококачественной акриловой пластмассы, и вы сможете покинуть клинику. В течение следующих 10 дней вам будет необходимо 1-2 раза приехать в клинику на повторный осмотр и снятие швов. Практически сразу вы сможете жевать пищу умеренной жесткости, что также ускорит процесс приживляемости имплантатов.
                        br
                .landing-block-card.col-lg-12.g-px-30.g-mb-10.landing-card
                  .landing-block-card-container.g-pos-rel.g-parent.g-py-35.g-px-25.g-pl-70--sm.g-pl-60.g-ml-30.g-ml-0--sm.g-bg-primary
                    .g-absolute-centered--y.g-left-0.g-absolute-top-px
                      .landing-block-node-element-icon-container.g-pull-50x-left.g-brd-around.g-brd-5.g-rounded-50x.g-overflow-hidden.g-color-white.g-bg-primary
                        span.landing-block-node-icon-hover.d-block.g-pos-abs.g-top-0.g-left-0.g-width-85.g-height-85.g-rounded-50x.opacity-0.g-opacity-1--parent-hover.g-transition-0_1.g-transition--ease-in(style='', data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}')
                        span.u-icon-v3.u-icon-size--xl.g-width-85.g-height-85.g-bg-transparent.g-opacity-1.opacity-0--parent-hover.g-transition-0_1.g-transition--ease-in
                          img(src='/images/icon.png')
                    h3.landing-block-node-title.h5.text-uppercase.g-color-gray-light-v2.g-mb-10 Этап 4. Постоянное протезирование
                    .landing-block-node-text.g-color-gray-light-v2
                      p
                        | Замена временного протеза на постоянный производится через 3-6 месяцев с момента операции и зависит от скорости приживления имплантатов. Несмотря на то, что временный протез может служить Вам до 3х лет, если вдруг по финансовым причинам вы не сможете в такой срок позволить себе изготовление постоянного несъемного протеза, мы рекомендуем установку постоянного протеза ввиду его гораздо более качественного исполнения, лучшего внешнего вида и функциональности.
                        br
                        | Постоянный протез выполняется на оригинальной балке Procera, обеспечивающей существенно большую надежность конструкции  и будет состоять уже не из 10, а из 12-14 искусственных зубов, и сделан не из акриловой пластмассы, а из металлопластмассы, металлокерамики, либо диоксида циркония (безметалловой керамики). Последний вариант стоит весьма дорого, но обладает потрясающей эстетикой и практически не отличим от настоящих зубов.
                        br
        .mainContent__block
          h2 Рекомендации до и после процедуры
          section.landing-block.g-pt-20.g-pb-20.g-bg-primary-dark-v3
            .container
              .row.landing-block-inner
                .landing-block-card.col-lg-12.g-px-30.g-mb-10.landing-card
                  .landing-block-card-container.g-pos-rel.g-parent.g-py-35.g-px-25.g-pl-70--sm.g-pl-60.g-ml-30.g-ml-0--sm.g-bg-secondary
                    .g-absolute-centered--y.g-left-0.g-absolute-top-px
                      .landing-block-node-element-icon-container.g-pull-50x-left.g-brd-around.g-brd-5.g-rounded-50x.g-overflow-hidden.g-color-gray.g-bg-secondary
                        span.landing-block-node-icon-hover.d-block.g-pos-abs.g-top-0.g-left-0.g-width-85.g-height-85.g-rounded-50x.opacity-0.g-opacity-1--parent-hover.g-transition-0_1.g-transition--ease-in(style='', data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}')
                        span.u-icon-v3.u-icon-size--xl.g-width-85.g-height-85.g-bg-transparent.g-opacity-1.opacity-0--parent-hover.g-transition-0_1.g-transition--ease-in
                          img(src='/images/icon.png')
                    h3.landing-block-node-title.h5.text-uppercase.g-color-gray.g-mb-10 Этап 1. Подготовка
                    .landing-block-node-text.g-color-gray
                      p
                        | На этапе подготовки к реализации протокола 
                        span(style='color: rgb(229, 57, 53);') All-on-4®
                        |  вам сделают общие анализы крови, а также конусно-лучевую томографию (КЛКТ), которая необходима для определения оптимальных мест для размещения имплантов в челюсти. На основе снимка КЛКТ в специальной программе NobelGuide вам составят цифровой диагностический план вашего лечения.
                        br
                .landing-block-card.col-lg-12.g-px-30.g-mb-10.landing-card
                  .landing-block-card-container.g-pos-rel.g-parent.g-py-35.g-px-25.g-pl-70--sm.g-pl-60.g-ml-30.g-ml-0--sm.g-bg-secondary
                    .g-absolute-centered--y.g-left-0.g-absolute-top-px
                      .landing-block-node-element-icon-container.g-pull-50x-left.g-brd-around.g-brd-5.g-rounded-50x.g-overflow-hidden.g-color-gray.g-bg-secondary
                        span.landing-block-node-icon-hover.d-block.g-pos-abs.g-top-0.g-left-0.g-width-85.g-height-85.g-rounded-50x.opacity-0.g-opacity-1--parent-hover.g-transition-0_1.g-transition--ease-in(style='', data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}')
                        span.u-icon-v3.u-icon-size--xl.g-width-85.g-height-85.g-bg-transparent.g-opacity-1.opacity-0--parent-hover.g-transition-0_1.g-transition--ease-in
                          img(src='/images/icon.png')
                    h3.landing-block-node-title.h5.text-uppercase.g-color-gray.g-mb-10 Этап 2. Хирургический этап
                    .landing-block-node-text.g-color-gray
                      p
                        | Установка имплантатов проводится при использовании специального хирургического шаблона. Этот шаблон позволит хирургу-имплантологу установить имплантаты в челюсть в заранее спланированное место, под абсолютно правильным углом и на заранее определенную глубину с точностью до долей миллиметра.
                        br
                        | Во время операции вам устанавливают в челюсть 4 имплантата. Если на момент операции в челюсти находятся зубы, подлежащие удалению, то их (непосредственно перед имплантацией) удалят. Далее вы отдыхаете после операции в индивидуальной палате под наблюдением медицинской сестры и врача-анестезиолога, а в это время зубной техник в зуботехнической лаборатории изготавливает вам временный несъемный протез (состоящий из 10-12 искусственных зубов).
                        br
                .landing-block-card.col-lg-12.g-px-30.g-mb-10.landing-card
                  .landing-block-card-container.g-pos-rel.g-parent.g-py-35.g-px-25.g-pl-70--sm.g-pl-60.g-ml-30.g-ml-0--sm.g-bg-secondary
                    .g-absolute-centered--y.g-left-0.g-absolute-top-px
                      .landing-block-node-element-icon-container.g-pull-50x-left.g-brd-around.g-brd-5.g-rounded-50x.g-overflow-hidden.g-color-gray.g-bg-secondary
                        span.landing-block-node-icon-hover.d-block.g-pos-abs.g-top-0.g-left-0.g-width-85.g-height-85.g-rounded-50x.opacity-0.g-opacity-1--parent-hover.g-transition-0_1.g-transition--ease-in(style='', data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}')
                        span.u-icon-v3.u-icon-size--xl.g-width-85.g-height-85.g-bg-transparent.g-opacity-1.opacity-0--parent-hover.g-transition-0_1.g-transition--ease-in
                          img(src='/images/icon.png')
                    h3.landing-block-node-title.h5.text-uppercase.g-color-gray.g-mb-10 Этап 3. фиксация временного протеза
                    .landing-block-node-text.g-color-gray
                      p
                        | Через 3-5 часов после операции на ваших имплантатах врач зафиксирует временный несъемный протез из высококачественной акриловой пластмассы, и вы сможете покинуть клинику. В течение следующих 10 дней вам будет необходимо 1-2 раза приехать в клинику на повторный осмотр и снятие швов. Практически сразу вы сможете жевать пищу умеренной жесткости, что также ускорит процесс приживляемости имплантатов.
                        br
                .landing-block-card.col-lg-12.g-px-30.g-mb-10.landing-card
                  .landing-block-card-container.g-pos-rel.g-parent.g-py-35.g-px-25.g-pl-70--sm.g-pl-60.g-ml-30.g-ml-0--sm.g-bg-secondary
                    .g-absolute-centered--y.g-left-0.g-absolute-top-px
                      .landing-block-node-element-icon-container.g-pull-50x-left.g-brd-around.g-brd-5.g-rounded-50x.g-overflow-hidden.g-color-gray.g-bg-secondary
                        span.landing-block-node-icon-hover.d-block.g-pos-abs.g-top-0.g-left-0.g-width-85.g-height-85.g-rounded-50x.opacity-0.g-opacity-1--parent-hover.g-transition-0_1.g-transition--ease-in(style='', data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}')
                        span.u-icon-v3.u-icon-size--xl.g-width-85.g-height-85.g-bg-transparent.g-opacity-1.opacity-0--parent-hover.g-transition-0_1.g-transition--ease-in
                          img(src='/images/icon.png')
                    h3.landing-block-node-title.h5.text-uppercase.g-color-gray.g-mb-10 Этап 4. Постоянное протезирование
                    .landing-block-node-text.g-color-gray
                      p
                        | Замена временного протеза на постоянный производится через 3-6 месяцев с момента операции и зависит от скорости приживления имплантатов. Несмотря на то, что временный протез может служить Вам до 3х лет, если вдруг по финансовым причинам вы не сможете в такой срок позволить себе изготовление постоянного несъемного протеза, мы рекомендуем установку постоянного протеза ввиду его гораздо более качественного исполнения, лучшего внешнего вида и функциональности.
                        br
                        | Постоянный протез выполняется на оригинальной балке Procera, обеспечивающей существенно большую надежность конструкции  и будет состоять уже не из 10, а из 12-14 искусственных зубов, и сделан не из акриловой пластмассы, а из металлопластмассы, металлокерамики, либо диоксида циркония (безметалловой керамики). Последний вариант стоит весьма дорого, но обладает потрясающей эстетикой и практически не отличим от настоящих зубов.
                        br
        .mainContent__block
          .mainContent__text
            h2 Цены
            table
              tbody
                tr
                  th
                    span(style='color: #000000;') Наименование процедуры 
                  th
                    span(style='color: #000000;')
                      | Цена
                  th
                    span(style='color: #000000;')
                      | Акционная цена
                tr
                  td
                    span(style='color: #000000;')
                      | Первичная консультация стоматолога-терапевта с составлением плана лечения
                  td
                    span(style='color: #000000;')
                      | 1 200 руб.
                  td
                    span(style='color: #000000;')  
                tr
                  td
                    span(style='color: #000000;')
                      | Лечение поверхностного кариеса
                  td
                    span(style='color: #000000;')
                      | 4900 руб.
                  td
                    span(style='color: #000000;')  
                    br
                    span(style='color: #000000;')  
                tr
                  td
                    span(style='color: #000000;')
                      | Лечение среднего кариеса
                  td
                    span(style='color: #000000;')
                      | 6500 руб.
                  td
                    span(style='color: #000000;')  
                    br
                    span(style='color: #000000;')  
                tr
                  td
                    span(style='color: #000000;')
                      | Лечение глубокого кариеса
                  td
                    span(style='color: #000000;')
                      | 8500 руб.
                  td
                    span(style='color: #000000;')  
                    br
                    span(style='color: #000000;')  
                tr
                  td
                    span(style='color: #000000;')
                      | Лечение с использованием микроскопа 30 мин
                    br
                    span(style='color: #000000;')  
                  td
                    span(style='color: #000000;')
                      | 3600 руб.
                  td
                    span(style='color: #000000;')  
                    br
                    span(style='color: #000000;')  
                tr
                  td
                    span(style='color: #000000;')
                      | Лечение с использованием микроскопа 60 мин
                    br
                    span(style='color: #000000;')  
                  td
                    span(style='color: #000000;')
                      | 5500 руб.
                  td
                    span(style='color: #000000;')  
                    br
                    span(style='color: #000000;')  
                tr
                  td
                    span(style='color: #000000;')
                      | Лечение с использованием микроскопа 120 мин
                    br
                    span(style='color: #000000;')  
                  td
                    span(style='color: #000000;')
                      | 9000 руб.
                  td
                    span(style='color: #000000;')  
                    br
                    span(style='color: #000000;')  
                tr
                  td
                    span(style='color: #000000;')
                      | Прямая реставрация переднего зуба (1 поверхность)
                    br
                    span(style='color: #000000;')  
                  td
                    span(style='color: #000000;')
                      | 10500 руб.
                  td
                    span(style='color: #000000;')  
                    br
                    span(style='color: #000000;')  
                tr
                  td
                    span(style='color: #000000;')
                      | Прямая реставрация переднего зуба (более 2 поверхностей)
                    br
                    span(style='color: #000000;')  
                  td
                    span(style='color: #000000;')
                      | 14900 руб.
                  td
                    span(style='color: #000000;')  
                    br
                    span(style='color: #000000;')  
                tr
                  td
                    span(style='color: #000000;')
                      | Прямая реставрация бокового зуба
                  td
                    span(style='color: #000000;')
                      | 14900 руб.
                  td
                    span(style='color: #000000;')  
                    br
                    span(style='color: #000000;')  
                tr
                  td
                    span(style='color: #000000;')
                      | Профессиональная гигиена + лечение одного любого кариеса под микроскопом
                  td
                    span(style='color: #000000;')  
                    del
                      span(style='color: #000000;') 18000 руб.
                  td
                    span(style='color: #ff0000;')
                      b 5200
                    b  
                    span(style='color: #ff0000;')
                      b руб.
        .mainContent__block
          .mainContent__text
            h2 Альтернативные методики:
            ul
              li: a(href='') Исправление вестибулярной брекет-системой (наружные брекеты)
              li: a(href='') Невидимая брекет-система (система Incognito™)
              li: a(href='') Элайнеры Invisalign
              li Виниры
              li Люминиры
      .block_installment
        .mainContent__wrap
          .wrapper
            .icon
              img(src='/bitrix/templates/corp_services_gray2_new/img/mess/dentistry/discount.png', alt='')
            .title Мы предлагаем рассрочку
            .text
              | Лечение кариеса – это довольно длительная и сложная процедура. Способы и методы лечения зависят от степени запущенности заболевания
            .btn-wrapper
              a.buttonTwo(href='#') Подробнее
  section.reviews
    .container
      .reviews__desc.wow.animated.fadeInLeft
        p Мы гордимся результатами
      .reviews__title.title.beforeLine.wow.animated.fadeInRight(data-wow-delay='0.5s')
        h2 Что говорят наши пациенты
      .reviews__slogan.wow.animated.fadeInLeft(data-wow-delay='0.8s')
        p Положительные отзывы наших пациентов - доказательство нашей успешной работы
    .reviews__slider__wrap.wow.animated.fadeInRight(data-wow-delay='0.8s')
      .reviews__slider__block
        .reviews__slider
          .reviews__slider__item
            .reviews__slider__item__img
              a.reviews__slider__item__img__link(href='/upload/iblock/50e/50e75bbd8a43d04ef5bdc510bd703c74.jpg', data-fancybox='gallery', tabindex='0')
                img(src='/upload/iblock/50e/50e75bbd8a43d04ef5bdc510bd703c74.jpg', alt='Отзыв', title='Отзыв')
            .reviews__slider__item__doctor
              p
                | Врач: 
                a(href='/doctor/detail.php?ID=18', tabindex='0') Руденко
            .reviews__slider__item__text
              p
                | Хочу поблагодарить Аллу Сергеевну за проделанную работу!! Делала операцию по увеличению груди месяц назад. Очень боялась перед операцией. Оказалось зря. Ни чуточку не жалею! Все получилось отлично, очень довольна новой грудью!!!) Также большое спасибо анестезиологу. Смог меня успокоить перед операцией. Даже не заметила как уснула)
      .reviews__slider__controls__block
        .reviews__slider__control.reviews__slider__control__prev
        .reviews__slider__control.reviews__slider__control__next
    .container
      .reviews__link.wow.animated.fadeInLeft(data-wow-delay='0.8s')
        a.buttonTwo(href='/review') Все отзывы
  .ourDoctors
    .container
      .ourDoctors__slider__wrap
        .ourDoctors__slider
          .ourDoctors__slider__item
            .ourDoctors__slider__block
              .ourDoctors__slider__block__left
                .ourDoctors__slider__img__overlay
                  .ourDoctors__slider__img(style='background-image:url(/upload/iblock/2a2/2a227087698d6a1a0e210c69affd04cf.jpg);')
              .ourDoctors__slider__block__right
                .ourDoctors__slider__title Наши врачи
                .ourDoctors__slider__person.beforeLine.title
                  p Руденко Виталий Александрович
                .ourDoctors__slider__desc
                  p
                  p
                    | Заведующий эндодонтическим центром, врач стоматолог-эндодонтист, терапевт, ортопед
                  p
                .ourDoctors__slider__buttonsWrap
                  a.button.ourDoctors__slider__button__allInfo(href='/doctor/detail.php?ID=18', tabindex='-1') Полная информация
                  a.buttonTwo.ourDoctors__slider__button__resultWork(href='#', tabindex='-1') Результаты работ
                .ourDoctors__slider__allDoctors
                  a.more(href='/doctor', tabindex='-1') Все врачи направления
        .ourDoctors__slider__control__block
          .ourDoctors__slider__control.ourDoctors__slide__prev
          .ourDoctors__slider__control.ourDoctors__slide__next
  .blockFeedBack
    .container
      .blockFeedBack__desc.wow.animated.fadeIn(data-wow-delay='0.3s')
        p Форма обратной связи
      .blockFeedBack__title.title.wow.animated.fadeInLeft(data-wow-delay='0.5s')
        h2 Запрос на консультацию
      p
      form#feedBackForm.feedBackForm.wow.animated.fadeIn(name='SIMPLE_FORM_1', action='/dentistry/detail.php?ID=351', method='POST', enctype='multipart/form-data', data-wow-delay='0.7s')
        input(type='hidden', name='WEB_FORM_ID', value='1')
        input#sessid_1(type='hidden', name='sessid', value='857cc83e01d9b37121b04a8dcaf35002')
        .feedBackForm__block
          .feedBackForm__left
            input(name='form_text_1', type='text', placeholder='Ваше имя', required='')
            input.phone(name='form_text_2', type='text', placeholder='Телефон', required='')
            input(name='form_text_3', type='email', placeholder='E-mail', required='')
          .feedBackForm__right
            textarea(name='form_text_4', placeholder='Ваши вопросы или коментарии')
        .feedBackForm__checkbox__title
          p Предпочтительный способ связи:
        .feedBackForm__checkbox__wrap
          label.feedBackForm__checkbox__label
            input#5(type='checkbox', name='form_checkbox_SIMPLE_QUESTION_546[]', value='5')
            span.checkbox__feedBack
              svg.checkboxIcon(width='19', height='29')
                use(xlink:href='#smartphone')
              span Телефон
          label.feedBackForm__checkbox__label
            input#6(type='checkbox', name='form_checkbox_SIMPLE_QUESTION_546[]', value='6')
            span.checkbox__feedBack
              svg.checkboxIcon(width='28', height='21')
                use(xlink:href='#letter')
              span E-mail
          label.feedBackForm__checkbox__label
            input#7(type='checkbox', name='form_checkbox_SIMPLE_QUESTION_546[]', value='7')
            span.checkbox__feedBack
              svg.checkboxIcon(width='31', height='30')
                use(xlink:href='#whatsapp')
              span Whatsapp
          label.feedBackForm__checkbox__label
            input#8(type='checkbox', name='form_checkbox_SIMPLE_QUESTION_546[]', value='8')
            span.checkbox__feedBack
              svg.checkboxIcon(width='32', height='30')
                use(xlink:href='#telegram')
              span Telegram
          label.feedBackForm__checkbox__label
            input#9(type='checkbox', name='form_checkbox_SIMPLE_QUESTION_546[]', value='9')
            span.checkbox__feedBack
              svg.checkboxIcon(width='27', height='30')
                use(xlink:href='#viber')
              span Viber
        input#feedBackFormbutton.button.feedBackForm__button(type='submit', name='web_form_submit', value='Отправить запрос')
        .agreements
          label.form__label.feedBackForm__label
            input#10(type='checkbox', name='form_checkbox_SIMPLE_QUESTION_903[]', value='10', required='')
            span.checkbox__box
            span.form__label__text
              | Согласен				
              a(href='#') с политикой конфеденциальности
          label.form__label.feedBackForm__label
            input#50(type='checkbox', name='form_checkbox_SIMPLE_QUESTION_903_CPfSL[]', value='50', required='')
            span.checkbox__box
            span.form__label__text
              | Согласен(а)				
              a(href='#') получать полезную информацию об акциях и специальных предложениях
  section.landing-block.g-pb-0.g-pt-0
    .container
      .row
        .landing-block-node-text-container.d-flex.js-animation.fadeInLeft.col-lg-4.g-mb-40.g-mb-0--lg(style='animation-duration: 1000ms; animation-play-state: running; animation-name: none;')
          div
            .landing-block-node-header.text-uppercase.u-heading-v2-4--bottom.g-brd-primary.g-mb-40
              h4.landing-block-node-subtitle.h6.g-font-weight-800.g-font-size-12.g-letter-spacing-1.g-color-primary.g-mb-20  
              h2.landing-block-node-title.h1.u-heading-v2__title.g-line-height-1_3.g-font-weight-600.g-mb-minus-10.g-font-size-23 Отделение стоматологии клиники MEDALL
            .landing-block-node-text.g-font-size-16
              p
                | Мы уже 12 лет занимаемся эстетической медициной и стоматологией и в 2019 году переехали   в новое здание  на Левашовском пр. 24, где открыли большую современную клинику. Сегодня мы одна из немногих клиник Санкт-Петербурга по оказанию услуг в области эстетической медицины и стоматологиии, которая полностью соответствует новым жёстким требованиям  Минздрава России. В клинике оборудованы кабинет ренгенологии и компьютерной томографии, лаборатория, комната хранения компонентов крови, палата интенсивной терапии и послеоперационного наблюдения, комфортные одноместные палаты и многое другое.
        .landing-block-node-carousel-container.js-animation.fadeInRight.col-lg-8
          .landing-block-node-carousel.js-carousel.g-line-height-0.row(data-infinite='true', data-speed='5000', data-rows='2', data-slides-show='2', data-arrows-classes='u-arrow-v1 g-pos-abs g-bottom-100x g-right-0 g-width-35 g-height-35 g-font-size-default g-color-gray g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-mb-5 g-transition-0_2 g-transition--ease-in', data-arrow-left-classes='fa fa-angle-left g-mr-50', data-arrow-right-classes='fa fa-angle-right g-mr-5', data-responsive='[{\
          "breakpoint": 1200,\
          "settings": {\
          "slidesToShow": 2\
          }\
          }, {\
          "breakpoint": 768,\
          "settings": {\
          "slidesToShow": 1\
          }\
          }]', data-init-classes-exclude='[{\
          "selector": ".landing-block-card-carousel-element",\
          "class": "col-12 col-sm-6 col-lg-6"\
          }, {\
          "selector": ".js-carousel",\
          "class": "row"\
          }]')
            .landing-block-card-carousel-element.js-slide.g-pa-5.col-6.col-sm-6.col-lg-4
              a(href='https://cdn.bitrix24.ru/b10164883/landing/0ed/0ed39938dc467575a892759a64b2de7e/20190903_183112_2x.jpg' data-fancybox).g-parent.g-pos-rel.g-overflow-hidden
                img.landing-block-node-carousel-element-img.img-fluid.g-transform-scale-1_1--parent-hover.g-transition-0_3.g-transition--ease-in(src='https://cdn.bitrix24.ru/b10164883/landing/0ed/0ed39938dc467575a892759a64b2de7e/20190903_183112_2x.jpg', alt='Холл MEDALL', srcset='https://cdn.bitrix24.ru/b10164883/landing/423/42305f530cf9ec8c882e0c3dff9c1214/20190903_183112_2x_2x.jpg 2x', data-fileid='1420', data-fileid2x='1422', data-pseudo-url='{"text":"","href":"https://www.instagram.com/p/Bf5Y0NcAtrz/?utm_source=ig_web_copy_link","target":"_popup","attrs":{"data-url":"//instagram.com/p/Bf5Y0NcAtrz/embed/captioned?utm_source=ig_web_copy_link&captioned=1"},"enabled":false}')
                .landing-block-node-carousel-element-img-hover.g-pointer-events-none--public-mode.g-pos-abs.g-top-0.g-left-0.w-100.h-100.g-bg-primary-opacity-0_8.g-color-white.opacity-0.g-opacity-1--parent-hover.g-pa-25.g-transition-0_3.g-transition--ease-in
                  h3.landing-block-node-carousel-element-title.text-uppercase.g-font-weight-700.g-font-size-16.g-color-white.mb-0  
                  .landing-block-node-carousel-element-text.g-line-height-1_5--hover.g-font-size-12.g-transition-0_3.g-transition--ease-in.g-color-gray-light-v4  
            .landing-block-card-carousel-element.js-slide.g-pa-5.col-6.col-sm-6.col-lg-4
              a(href='https://cdn.bitrix24.ru/b10164883/landing/846/846363204847645ad93ea46ad5977701/20190217_161222_2x_1x.' data-fancybox).g-parent.g-pos-rel.g-overflow-hidden
                img.landing-block-node-carousel-element-img.img-fluid.g-transform-scale-1_1--parent-hover.g-transition-0_3.g-transition--ease-in(src='https://cdn.bitrix24.ru/b10164883/landing/846/846363204847645ad93ea46ad5977701/20190217_161222_2x_1x.jpg', alt='Кабинет стоматологии', srcset='https://cdn.bitrix24.ru/b10164883/landing/3ec/3ec45a2e872ca1bf7f3e6743d0a057b7/20190217_161222_2x_2x.jpg 2x', data-fileid='2876', data-fileid2x='2874', data-pseudo-url='{"text":"","href":"https://www.instagram.com/p/Bf5Y0NcAtrz/?utm_source=ig_web_copy_link","target":"_popup","attrs":{"data-url":"//instagram.com/p/Bf5Y0NcAtrz/embed/captioned?utm_source=ig_web_copy_link&captioned=1"},"enabled":false}')
                .landing-block-node-carousel-element-img-hover.g-pointer-events-none--public-mode.g-pos-abs.g-top-0.g-left-0.w-100.h-100.g-bg-primary-opacity-0_8.g-color-white.opacity-0.g-opacity-1--parent-hover.g-pa-25.g-transition-0_3.g-transition--ease-in
                  h3.landing-block-node-carousel-element-title.text-uppercase.g-font-weight-700.g-font-size-16.g-color-white.mb-0 Кабинет стоматологиии
                  .landing-block-node-carousel-element-text.g-line-height-1_5--hover.g-font-size-12.g-transition-0_3.g-transition--ease-in.g-color-gray-light-v4  
            .landing-block-card-carousel-element.js-slide.g-pa-5.col-6.col-sm-6.col-lg-4
              a(href='https://cdn.bitrix24.ru/b10164883/landing/dcc/dccab7e36a8b7b93b0fc71344faa84c0/20190903_183044_2x.jpg' data-fancybox).g-parent.g-pos-rel.g-overflow-hidden
                img.landing-block-node-carousel-element-img.img-fluid.g-transform-scale-1_1--parent-hover.g-transition-0_3.g-transition--ease-in(src='https://cdn.bitrix24.ru/b10164883/landing/dcc/dccab7e36a8b7b93b0fc71344faa84c0/20190903_183044_2x.jpg', alt='Сервис MEDALL', srcset='https://cdn.bitrix24.ru/b10164883/landing/c04/c04bee198b814db89c8d73c8ff3feec8/20190903_183044_2x_2x.jpg 2x', data-fileid='1428', data-fileid2x='1430', data-pseudo-url='{"text":"","href":"https://www.instagram.com/p/Bf5Y0NcAtrz/?utm_source=ig_web_copy_link","target":"_popup","attrs":{"data-url":"//instagram.com/p/Bf5Y0NcAtrz/embed/captioned?utm_source=ig_web_copy_link&captioned=1"},"enabled":false}')
                .landing-block-node-carousel-element-img-hover.g-pointer-events-none--public-mode.g-pos-abs.g-top-0.g-left-0.w-100.h-100.g-bg-primary-opacity-0_8.g-color-white.opacity-0.g-opacity-1--parent-hover.g-pa-25.g-transition-0_3.g-transition--ease-in
                  h3.landing-block-node-carousel-element-title.text-uppercase.g-font-weight-700.g-font-size-16.g-color-white.mb-0 Холл MEDALL
                  .landing-block-node-carousel-element-text.g-line-height-1_5--hover.g-font-size-12.g-transition-0_3.g-transition--ease-in.g-color-gray-light-v4  
            .landing-block-card-carousel-element.js-slide.g-pa-5.col-6.col-sm-6.col-lg-4
              a(href='https://cdn.bitrix24.ru/b10164883/landing/78a/78aee60ea1f5423ab3d97b05e841343d/20190903_182650_2x.jpg' data-fancybox).g-parent.g-pos-rel.g-overflow-hidden
                img.landing-block-node-carousel-element-img.img-fluid.g-transform-scale-1_1--parent-hover.g-transition-0_3.g-transition--ease-in(src='https://cdn.bitrix24.ru/b10164883/landing/78a/78aee60ea1f5423ab3d97b05e841343d/20190903_182650_2x.jpg', alt='', srcset='https://cdn.bitrix24.ru/b10164883/landing/a2f/a2f84561af1202dbf6516beebf8c3105/20190903_182650_2x_2x.jpg 2x', data-fileid='1444', data-fileid2x='1446', data-pseudo-url='{"text":"","href":"https://www.instagram.com/p/Bf5Y0NcAtrz/?utm_source=ig_web_copy_link","target":"_popup","attrs":{"data-url":"//instagram.com/p/Bf5Y0NcAtrz/embed/captioned?utm_source=ig_web_copy_link&captioned=1"},"enabled":false}')
                .landing-block-node-carousel-element-img-hover.g-pointer-events-none--public-mode.g-pos-abs.g-top-0.g-left-0.w-100.h-100.g-bg-primary-opacity-0_8.g-color-white.opacity-0.g-opacity-1--parent-hover.g-pa-25.g-transition-0_3.g-transition--ease-in
                  h3.landing-block-node-carousel-element-title.text-uppercase.g-font-weight-700.g-font-size-16.g-color-white.mb-0 Холл Эстетика
                  .landing-block-node-carousel-element-text.g-line-height-1_5--hover.g-font-size-12.g-transition-0_3.g-transition--ease-in.g-color-gray-light-v4  
            .landing-block-card-carousel-element.js-slide.g-pa-5.col-6.col-sm-6.col-lg-4
              a(href='https://cdn.bitrix24.ru/b10164883/landing/3b9/3b9a28823ff5d29dcc88b7cd2769da11/20190903_191006_2x.jpg' data-fancybox).g-parent.g-pos-rel.g-overflow-hidden
                img.landing-block-node-carousel-element-img.img-fluid.g-transform-scale-1_1--parent-hover.g-transition-0_3.g-transition--ease-in(src='https://cdn.bitrix24.ru/b10164883/landing/3b9/3b9a28823ff5d29dcc88b7cd2769da11/20190903_191006_2x.jpg', alt='Операционная MEDALL', srcset='https://cdn.bitrix24.ru/b10164883/landing/620/62063ddf50efddf841db2547c3c0903e/20190903_191006_2x_2x.jpg 2x', data-fileid='1452', data-fileid2x='1454', data-pseudo-url='{"text":"","href":"https://www.instagram.com/p/Bf5Y0NcAtrz/?utm_source=ig_web_copy_link","target":"_popup","attrs":{"data-url":"//instagram.com/p/Bf5Y0NcAtrz/embed/captioned?utm_source=ig_web_copy_link&captioned=1"},"enabled":false}')
                .landing-block-node-carousel-element-img-hover.g-pointer-events-none--public-mode.g-pos-abs.g-top-0.g-left-0.w-100.h-100.g-bg-primary-opacity-0_8.g-color-white.opacity-0.g-opacity-1--parent-hover.g-pa-25.g-transition-0_3.g-transition--ease-in
                  h3.landing-block-node-carousel-element-title.text-uppercase.g-font-weight-700.g-font-size-16.g-color-white.mb-0 Операционная
                  .landing-block-node-carousel-element-text.g-line-height-1_5--hover.g-font-size-12.g-transition-0_3.g-transition--ease-in.g-color-gray-light-v4  
            .landing-block-card-carousel-element.js-slide.g-pa-5.col-6.col-sm-6.col-lg-4
              a(href='https://cdn.bitrix24.ru/b10164883/landing/547/5472d63d212d1717b388a1bd0196aac8/20190903_190844_2x.jpg' data-fancybox).g-parent.g-pos-rel.g-overflow-hidden
                img.landing-block-node-carousel-element-img.img-fluid.g-transform-scale-1_1--parent-hover.g-transition-0_3.g-transition--ease-in(src='https://cdn.bitrix24.ru/b10164883/landing/547/5472d63d212d1717b388a1bd0196aac8/20190903_190844_2x.jpg', alt='Палата MEDALL', srcset='https://cdn.bitrix24.ru/b10164883/landing/36b/36b7cf54985de7d9a3362861398773d5/20190903_190844_2x_2x.jpg 2x', data-fileid='1460', data-fileid2x='1462', data-pseudo-url='{"text":"","href":"https://www.instagram.com/p/Bf5Y0NcAtrz/?utm_source=ig_web_copy_link","target":"_popup","attrs":{"data-url":"//instagram.com/p/Bf5Y0NcAtrz/embed/captioned?utm_source=ig_web_copy_link&captioned=1"},"enabled":false}')
                .landing-block-node-carousel-element-img-hover.g-pointer-events-none--public-mode.g-pos-abs.g-top-0.g-left-0.w-100.h-100.g-bg-primary-opacity-0_8.g-color-white.opacity-0.g-opacity-1--parent-hover.g-pa-25.g-transition-0_3.g-transition--ease-in
                  h3.landing-block-node-carousel-element-title.text-uppercase.g-font-weight-700.g-font-size-16.g-color-white.mb-0 Палата 
                  .landing-block-node-carousel-element-text.g-line-height-1_5--hover.g-font-size-12.g-transition-0_3.g-transition--ease-in.g-color-gray-light-v4  
            .landing-block-card-carousel-element.js-slide.g-pa-5.col-6.col-sm-6.col-lg-4
              a(href='https://cdn.bitrix24.ru/b10164883/landing/3e4/3e44a81d2d6ee57b70e68c0605c9dfa8/20190903_190828_2x.jpg' data-fancybox).g-parent.g-pos-rel.g-overflow-hidden
                img.landing-block-node-carousel-element-img.img-fluid.g-transform-scale-1_1--parent-hover.g-transition-0_3.g-transition--ease-in(src='https://cdn.bitrix24.ru/b10164883/landing/3e4/3e44a81d2d6ee57b70e68c0605c9dfa8/20190903_190828_2x.jpg', alt='Палата MEDALL', srcset='https://cdn.bitrix24.ru/b10164883/landing/cef/cefae8ab2f6b3ceb78014547c07844ad/20190903_190828_2x_2x.jpg 2x', data-fileid='1476', data-fileid2x='1478', data-pseudo-url='{"text":"","href":"https://www.instagram.com/p/Bf5Y0NcAtrz/?utm_source=ig_web_copy_link","target":"_popup","attrs":{"data-url":"//instagram.com/p/Bf5Y0NcAtrz/embed/captioned?utm_source=ig_web_copy_link&captioned=1"},"enabled":false}')
                .landing-block-node-carousel-element-img-hover.g-pointer-events-none--public-mode.g-pos-abs.g-top-0.g-left-0.w-100.h-100.g-bg-primary-opacity-0_8.g-color-white.opacity-0.g-opacity-1--parent-hover.g-pa-25.g-transition-0_3.g-transition--ease-in
                  h3.landing-block-node-carousel-element-title.text-uppercase.g-font-weight-700.g-font-size-16.g-color-white.mb-0 Палата
                  .landing-block-node-carousel-element-text.g-line-height-1_5--hover.g-font-size-12.g-transition-0_3.g-transition--ease-in.g-color-gray-light-v4  
            .landing-block-card-carousel-element.js-slide.g-pa-5.col-6.col-sm-6.col-lg-4
              a(href='https://cdn.bitrix24.ru/b10164883/landing/ca7/ca78ddc08146c462385d6ff838cdd374/20190903_182744_2x.jpg' data-fancybox).g-parent.g-pos-rel.g-overflow-hidden
                img.landing-block-node-carousel-element-img.img-fluid.g-transform-scale-1_1--parent-hover.g-transition-0_3.g-transition--ease-in(src='https://cdn.bitrix24.ru/b10164883/landing/ca7/ca78ddc08146c462385d6ff838cdd374/20190903_182744_2x.jpg', alt='Коридор MEDALL', srcset='https://cdn.bitrix24.ru/b10164883/landing/cfd/cfd9fa71ae4bc848ebc94d45ff02af7c/20190903_182744_2x_2x.jpg 2x', data-fileid='1484', data-fileid2x='1486', data-pseudo-url='{"text":"","href":"https://www.instagram.com/p/Bf5Y0NcAtrz/?utm_source=ig_web_copy_link","target":"_popup","attrs":{"data-url":"//instagram.com/p/Bf5Y0NcAtrz/embed/captioned?utm_source=ig_web_copy_link&captioned=1"},"enabled":false}')
                .landing-block-node-carousel-element-img-hover.g-pointer-events-none--public-mode.g-pos-abs.g-top-0.g-left-0.w-100.h-100.g-bg-primary-opacity-0_8.g-color-white.opacity-0.g-opacity-1--parent-hover.g-pa-25.g-transition-0_3.g-transition--ease-in
                  h3.landing-block-node-carousel-element-title.text-uppercase.g-font-weight-700.g-font-size-16.g-color-white.mb-0 Коридор
                  .landing-block-node-carousel-element-text.g-line-height-1_5--hover.g-font-size-12.g-transition-0_3.g-transition--ease-in.g-color-gray-light-v4  
